header{
    padding-left: 1%;
    padding-top: 1%;
    padding-right: 1%;
    width:98%;
    text-align:center;
    background: white;
    height: 60px;
}
.left{
    float: left;
}
.center{
    margin:0 auto;
    text-align: center;
}
.right{
    float: right;
}
a{
    text-decoration: none;
}
.search{
    width: 300px;
}
.search, .categories{
    height: 40px;
}