body {
    margin: 0;
    padding: 0;
    background-color: #e0e0e0;
    font-family: 'Arial', sans-serif;
}

nav {
    color: #ffffff;
    background-color: #707070;
    padding: 5px;
    width: 100%;
    text-align: center;
}

main{

}
.inBox {
    width: 7%;
}

.container {
    width: 14%;
    display: inline-block;
    margin: 10px;
    background-color: white;
    border-style: solid;
    border-color: #707070;
    overflow:hidden;
}

.inBox, .container {
    text-align: center;
    display: inline-block;
}

.box {
    width: 100px;
    height: 100px;
    background-color: white;
}
img{
    width: 100px;
    height: 100px;
    transition: transform .2s;
}

img:hover {
    transform: scale(1.05);
}

.bigBox {
    width: 100%;
    height: 200px;
    background-color: #7a7a7a;
}

.box, .bigBox {
    position: relative;
    margin: 0 auto;
}

.btn {
    background: none;
    color: black;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.btn:hover {
    color: #733000;
}

/*.btn.active {
    color: #4d0000;
}*/

.flexContainer {
    margin-left: 10%;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.description {
    font-size: 11px;
}

.expire, .tag {
    font-size: 10px;
    color: #6e6e6e;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.trMarkBottomLine{
    border-bottom: 1pt dashed #707070;
}
.price, .name, .description {
    text-align: left;
    width: 50%;
}

.icons, .expire, td {
    text-align: right;
}

a {
    text-decoration: none;
}

.search {
    width: 300px;
}

.categories {
    height: 40px;
}

body {
    display: flex;
    flex-direction: column;
}

#myBtn, #posBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

#posBtn {
    background-color: #00bbff; /* Set a background color */
}

#myBtn:hover, #posBtn:hover  {
    background-color: #555; /* Add a dark-grey background on hover */
}