body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: rgba(154, 154, 154, 0.73);
}

.logo {
    padding-top: 75px;
    text-align: center;
}

.dot {
    height: 150px;
    width: 150px;
    line-height: 100px;
    background-color: #707070;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
}

.circle {
    width: 150px;
    height: 150px;
    border-radius: 100px;
    font-size: 20px;
    color: #fff;
    line-height: 150px;
    text-align: center;
    background: #7a7a7a;
}

.reg {
    background: #6e6e6e;
    text-align: left;
    color: #ffffff;
}

.table {
    background: #ffffff;
    margin-left: auto;
    margin-right: auto;

}
#LoginName, #Name, #Password, #RepeatPass, #Email, #Address {
    width: 200px;
    height: 30px;
}
.reg {
    height: 50px;
    font-size: 20px;
    line-height: 50px;
}

.tbl {
    padding-top: 150px;
}

.login {
    width: 382px;
    overflow: hidden;
    padding: 50px;
    margin: auto;
    background: white;
    text-align: center;
}

h2 {
    text-align: center;
    color: #ffffff;
    padding: 20px;
}

#Login {
    width: 300px;
    height: 30px;
    text-align: center;
}

#Pass {
    width: 300px;
    height: 30px;
    text-align: center;
}

#log {
    width: 300px;
    height: 30px;
    border: none;
    color: #ffffff;
    background-color: green;
}

#Cancel {
    width: 100px;
    height: 30px;
}

#Sgn {
    width: 100px;
    height: 30px;
    color: #ffffff;
    background-color: green;
}

span {
    color: white;
    font-size: 17px;
}
